# Aktiviere HTTPS
RewriteEngine On
RewriteRule ^index.html now.html
RewriteCond %{REQUEST_SCHEME}::%{HTTP_HOST} ^http::(?:www\.)?(.+)$
RewriteRule ^ https://www.%1%{REQUEST_URI} [NE,L,R]

ErrorDocument 404 /now.html 

<IfModule mod_expires.c>
<FilesMatch "\.(js|css)$">
SetOutputFilter DEFLATE
</FilesMatch>

ExpiresActive On
ExpiresDefault "access plus 30 days"
ExpiresByType text/html "access plus 500 seconds"

ExpiresByType text/css "access plus 7 days"

ExpiresByType text/javascript "access plus 14 days"
ExpiresByType application/javascript "access plus 14 days"
</IfModule>