#about_me #logo{
  margin-right: 15px;
  float: left;
}

#about_me #about_text{
  font-size: 18px;
}

#about_me #about_text a{
  color: var(--text-color);
}

#about_me #about_text a:visited{
  color: var(--text-color);
}

#about_me #about_text a:hover{
  color: var(--bg-color);
  background-color: var(--text-color);
}

@media screen and (max-width: 600px) {
  #about_me #logo{
    margin-right: 15px;
    float: none !important;
  }
}