:root {
    --bg-color-lighter: #fff;
    --bg-color: #fff;
    --text-color: rgb(10, 10, 10);
    --blog-gray-color: rgb(80, 80, 80);
    --background-image: linear-gradient(270deg,
        var(--bg-color) 0%,
        rgba(255, 255, 255, 0) 60%
        ),
        url("https://images.unsplash.com/photo-1554629947-334ff61d85dc?w=736&q=80");
}
@media (max-width: 600px) {
    :root {
        --background-image: linear-gradient(0deg, 
         var(--bg-color) 0%,
         rgba(80, 80, 80, 0) 5%,
         rgba(80, 80, 80, 0) 97%,
         var(--bg-color) 100%
         ),
        url("https://images.unsplash.com/photo-1554629947-334ff61d85dc?w=736&q=80");
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color-lighter: rgb(20, 20, 20);
        --bg-color: rgb(10, 10, 10);
        --text-color: #fff;
        --blog-gray-color: rgb(180, 180, 180);
        --background-image: linear-gradient(90deg,
                rgba(10, 10, 10, 0.3),
                rgb(10, 10, 10, 1)),
            url("https://images.unsplash.com/photo-1553748024-d1b27fb3f960?w=1500&q=80");
        --background-background: linear-gradient(0deg,
                rgba(10, 10, 10, 1),
                rgba(10, 10, 10, 0.6)),
            url("https://images.unsplash.com/photo-1553748024-d1b27fb3f960?w=1500&q=80");
        --height: 50vh;
    }

    #display h1 {
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: #fff;
    }

    #blog-display h1 {
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: #fff;
    }

    @media (max-width: 600px) {
        :root {
            --background-image: linear-gradient(0deg,
                    rgba(10, 10, 10, 1),
                    rgba(10, 10, 10, 0) 90%,
                    rgba(10, 10, 10, 0) 98%,
                    rgba(10, 10, 10, 1) 100%
                ),
                url("https://images.unsplash.com/photo-1553748024-d1b27fb3f960?w=1500&q=80") !important;
        }
    }
}