#about_me {
  margin-top: 2vh;
  padding-top: 4vh;
}

#about_me #logo{
  margin-right: 15px;
  float: left;
}

#about_me #about_text{
  text-align: justify;
  font-size: 18px;
}

#about_me #about_text a:visited{
  color: var(--text-color);
}

#about_me #about_text a:hover{
  color: var(--bg-color);
  background-color: var(--text-color);
}